menu "Blufi Configuration"

    config EXAMPLE_WIFI_CONNECTION_MAXIMUM_RETRY
        int "WiFi connection maximum retry"
        range 0 255
        default 2
        help
            WiFi connection maximum retry, from 0 to 255.
    
    choice
        bool "Protocal to be used"
        default BT_NIMBLE_ENABLED
        help
            Protocal to be used.

        config BT_NIMBLE_ENABLED
            bool "NIMBLE"
        config BT_BLUEDROID_ENABLED
            bool "BLUEDROID"
    endchoice

    config DEVICE_NAME
        string "Device name"
        default "ESP32"
        help
            Device name.
endmenu
